body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.67;
}

/* ==============
    TYPOGRAPHY
====================== */

h1 {
    font-size: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.3rem;
}

img {
    width: 100%;
}


/* ===============
    Main Header Section
====================== */

.main_header_section {
    /* background: rgb(46, 41, 41); */

    background-image: url(../images/white\ office.webp), linear-gradient(to left, orange, cyan);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
}
.main_header_overlay {
    background-color: rgba(255,255,255, .8);
}

.aside_header {
    height: inherit;
    padding: 2em 0;
    display: none;
}

.main_header  {
    padding: 1.5em;
    color: rgb(55, 54, 54);

}

.brand_logo {
    padding: .3em;
    border-radius: 100%;
    background: rgb(3, 100, 255);
    color: white;
}
.brand_title {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(91, 89, 89);

}

/* ======Nav
==================*/

.navigation {
    margin-top: .2em;
    /* max-width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_section ul {
    list-style: none;
    position: relative;
    padding: 0;
    display: none;
}

.mobile_nav_menu {
    font-size: 1.2rem;
}

li a {
    text-decoration: none;
    padding-left: 4em;
    color: rgb(91, 89, 89);

    font-weight: 600;
    font-size: 1rem;
}

/* ===============
 Hero Section
 ===================*/
 .hero_section {
    /* height: 65vh; */
    padding: 3em 0;
    display: flex;
    align-items: center;
 }

.hero_title {
    font-size: 2.4rem;
    letter-spacing: -1px;
    line-height: 1.4;
    color: rgb(91, 89, 89);
}


 .hero_title span {
    color: rgb(3, 100, 255);
 }



 .hero_btn {
    background: rgb(3, 100, 255);
    color: white;
    padding: 1em 1.4em;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2em;
    box-shadow: 1px 5px 2px 1px rgb(14, 85, 200);
 }

 .hero_btn:hover {
    background-color: rgb(14, 93, 218);
 }


 /* ==============
 Services Section
 =================== */

 .services_section {
    background-image: url(../images/view1.avif);
    background-position: left;
    background-size: cover;
    padding: 4em 1.5em;
    color: rgba(255,255,255, .96);
 }


 .service_title {
    margin-top: 0;
 }

 .service_container {
    margin-top: 3em;
 }

 .service {
    padding: 1em;
    border: 1px dotted rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    border-radius: 1em;
    box-shadow: -12px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }


 .service p {
    margin-top: 2em;
 }

.service a {
    text-decoration: none;
    color: yellow;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: .3em;
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 1.6em;
    border-radius: .4em;
    border-bottom: 3px solid yellow;

}

.service a:hover {
    color: yellow;
}

/* =============
Case Study Section
==================== */

/* .case_study_section {
    display: flex;
    flex-direction: column;

} */

.case_study_plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em 1.5em;
    height: 45vh;

}


.case_study_plan h2, .case_study_plan div h4 {
    font-weight: 700;
}
.case_study_plan div h4 {
    font-size: 1.1em;
}

.case_study_plan div p {
    font-weight: 500;
    margin: 2em 0;
}

.case_study_btn {
    color: rgb(0, 33, 250);
    background: none;
    padding: 1em 1.2em;
    border: 2px solid rgb(0, 33, 250);
    box-shadow: 1px 3px 2px 1px rgb(0, 33, 250);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 2em;
}
.case_study_btn:hover {
    color: rgb(20, 110, 255);

    border: 2px solid rgb(20, 110, 255);

    box-shadow: 1px 3px 2px 1px rgb(20, 110, 255);

}


.case_study_image {
    background-image: url(../images/she.jpg), linear-gradient(to  left, blue, orange);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 3em;
    height: 45vh;
}



/* Cta Section */

.cta_section {
    background-image: url(../images/view1.avif);
    background-position: center;
    background-size: cover;
    padding: 4em 2em;
    /* height: 35vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.cta_title {
font-size: 2rem;
margin-top: 0;
}

input, ::placeholder {
    border: none;
    width: 100%;
    border-bottom: 3px dotted white;
    background: none;
    padding: .3em .1em;
    font-size: 1em;
    color: white;
    margin-top: 1em;
}

.cta_btn {
    color: blue;
    background: white;
    /* box-shadow: 1px 2px 2px 1px rgb(42, 61, 86); */

    padding: 1em 2em;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 3em;
}

.cta_btn:hover {
    background: black;
    color: currentColor;
}

/* ============
Footer Section
===================== */

footer {
    /* display: flex; */
    padding: 4em 2em;
    background: rgb(255, 255, 255);
}

.footer_links div {
    padding: 1em 0;
}


/* ==================Media Queries================ */

@media (min-width: 720px) {
    /* body {
        font-size: 1.3rem;
        line-height: 1.67;
    } */
/* =====Typography===== */

h1 {
    font-size: 4rem;
}

    .main_header_overlay {
        display: flex;
    }

    .aside_header {
        display: block;
        width: 35vw;
    }


    .main_header {
        width: 100vw;
        padding: 0 6em;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
/* justify-content: space-between; */
    }

    .hero_section {
        width: 45vw;
    }
    .hero_title {
        margin-top: 2em;
        line-height: 1.1;
    }
    .hero_desc {
        max-width: 70%;
        font-size: 1rem;
        padding: 0;
    }

    .hero_btn {
        margin-top: 4em;
    }


    .nav_section ul {
        display: flex
    }

    .services_section {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3em;
    }


    .service_title {
        margin: 0;
    }
    .service_container {
        display: flex;
        justify-content: space-between;
        margin-top: 4em ;
    }
    .service {
        width: 25%;
    }
}